<a href="https://colab.research.google.com/github/urboss-me/dataviz2025/blob/main/Dictionary_Function_Loop_Condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Thanapong')

In [ ]:
print_myname()

Thanapong

In [ ]:
def print_name(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('อินทระ','64xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 64xxxxxx'

In [ ]:
print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz 5

จงเขียนฟังก์ชันของ HW2

In [18]:
#  function ของ # เวลาของวันพุธ 12:30:15
# time_wed = "12:30:15"
# # เวลาของวันพฤหัสบดี 13:41:07
# time_thu = "13:41:07"
# # แยกชั่วโมง นาที วินาที ด้วย split()
# h1, m1, s1 = map(int, time_wed.split(':'))
# h2, m2, s2 = map(int, time_thu.split(':'))
# # คำนวณเป็นวินาทีจากต้นสัปดาห์ (วันพุธ = วันที่ 3, วันพฤหัสบดี = วันที่ 4)
# # วันละ 86400 วินาที
# seconds_wed = (2 * 86400) + h1 * 3600 + m1 * 60 + s1
# seconds_thu = (3 * 86400) + h2 * 3600 + m2 * 60 + s2
# # หาผลต่าง
# diff_seconds = seconds_thu - seconds_wed
# # แสดงผลลัพธ์
# print(f"เวลาต่างกันทั้งหมด {diff_seconds:,} วินาที")

def calculate_time_difference(time_str):
    """
    Calculates the time difference in seconds between two time strings in 'HH:MM:SS-HH:MM:SS' format,
    assuming the first time is on Wednesday and the second on Thursday.

    Args:
        time_str (str): A string representing two times separated by '-', e.g., '12:30:15-13:41:07'.

    Returns:
        int: The time difference in seconds.
    """
    time1_str, time2_str = time_str.split('-')

    # Parse the time strings
    h1, m1, s1 = map(int, time1_str.split(':'))
    h2, m2, s2 = map(int, time2_str.split(':'))

    # Calculate seconds from the beginning of the week (Wednesday = day 3, Thursday = day 4)
    # Days are 0-indexed, assuming Monday is day 0 for calculation simplicity if needed,
    # but here we just need the difference of days. Wednesday is effectively 2 full days after the start of a hypothetical week reference
    # and Thursday is 3 full days after that same reference point.
    seconds1 = (2 * 86400) + h1 * 3600 + m1 * 60 + s1
    seconds2 = (3 * 86400) + h2 * 3600 + m2 * 60 + s2

    # Calculate the difference
    diff_seconds = seconds2 - seconds1

    return diff_seconds

# Example usage with the given input
inp = '12:30:15-13:41:07'
time_diff = calculate_time_difference(inp)
print(f"เวลาต่างกันทั้งหมด {time_diff:,} วินาที")

# Another example
inp2 = '08:00:00-09:00:00' # From 8 AM Wednesday to 9 AM Thursday
time_diff2 = calculate_time_difference(inp2)
print(f"เวลาต่างกันทั้งหมด {time_diff2:,} วินาที")

เวลาต่างกันทั้งหมด 90,652 วินาที
เวลาต่างกันทั้งหมด 90,000 วินาที

In [16]:
# prompt: จงเขียน function ของ # ฟังก์ชันแปลงเวลาเป็นวินาทีจากต้นสัปดาห์
# def time_to_seconds(time_str, day_str):
#     days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
#     h, m, s = map(int, time_str.split(':'))
#     day_index = days.index(day_str)
#     total_seconds = day_index * 86400 + h * 3600 + m * 60 + s
#     return total_seconds
# # รายการช่วงเวลา
# time_ranges = [
#     ("12:30:15", "Wednesday", "13:41:07", "Thursday"),
#     ("12:53:15", "Monday", "00:59:25", "Tuesday"),
#     ("16:06:09", "Sunday", "11:11:11", "Tuesday"),
# ]
# # ประมวลผลและแสดงผล
# for start_time, start_day, end_time, end_day in time_ranges:
#     start_sec = time_to_seconds(start_time, start_day)
#     end_sec = time_to_seconds(end_time, end_day)
#     diff = end_sec - start_sec
#     hours = diff // 3600
#     minutes = (diff % 3600) // 60
#     seconds = diff % 60
#     print(f"\n🕒 {start_time}, {start_day} - {end_time}, {end_day}")
#     print(f"→ ต่างกันทั้งหมด {diff:,} วินาที")
#     print(f"→ หรือ {hours} ชั่วโมง {minutes} นาที {seconds} วินาที")

# ฟังก์ชันแปลงเวลาเป็นวินาทีจากต้นสัปดาห์
def time_to_seconds(time_str, day_str):
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    h, m, s = map(int, time_str.split(':'))
    day_index = days.index(day_str)
    total_seconds = day_index * 86400 + h * 3600 + m * 60 + s
    return total_seconds

# รายการช่วงเวลา
time_ranges = [
    ("12:30:15", "Wednesday", "13:41:07", "Thursday"),
    ("12:53:15", "Monday", "00:59:25", "Tuesday"),
    ("16:06:09", "Sunday", "11:11:11", "Tuesday"),
]

# ประมวลผลและแสดงผล
print("--- การคำนวณช่วงเวลา ---")
for i, (start_time, start_day, end_time, end_day) in enumerate(time_ranges):
    start_sec = time_to_seconds(start_time, start_day)
    end_sec = time_to_seconds(end_time, end_day)
    diff = end_sec - start_sec

    # แปลงวินาทีเป็น ชั่วโมง นาที วินาที
    hours = diff // 3600
    remaining_seconds = diff % 3600
    minutes = remaining_seconds // 60
    seconds = remaining_seconds % 60

    print(f"\n✨ คู่ที่ {i+1}:")
    print(f"➡️ จาก {start_time} ({start_day}) ถึง {end_time} ({end_day})")
    print(f"    ➡️ เวลาต่างกันทั้งหมด {diff:,} วินาที")
    print(f"    ➡️ หรือ {hours} ชั่วโมง {minutes} นาที {seconds} วินาที")

print("\n--- สิ้นสุดการคำนวณ ---")

In [15]:
#function ของ def time_to_seconds(time_str):
#     """Converts a time string (HH:MM:SS) to seconds."""
#     h, m, s = map(int, time_str.split(':'))
#     return h * 3600 + m * 60 + s
# # Test the function
# print(time_to_seconds('12:30:15'))
# print(time_to_seconds('00:00:00'))
# print(time_to_seconds('23:59:59'))

def time_to_seconds(time_str):
    """Converts a time string (HH:MM:SS) to seconds."""
    h, m, s = map(int, time_str.split(':'))
    return h * 3600 + m * 60 + s
# Test the function
print(time_to_seconds('12:30:15'))
print(time_to_seconds('00:00:00'))
print(time_to_seconds('23:59:59'))

45015
0
86399

# Quiz 6

เขียน function ของ HW2 มีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ตัวเดียว

In [19]:
# prompt: เขียน function ของ # เวลาของวันพุธ 12:30:15
# time_wed = "12:30:15"
# # เวลาของวันพฤหัสบดี 13:41:07
# time_thu = "13:41:07"
# # แยกชั่วโมง นาที วินาที ด้วย split()
# h1, m1, s1 = map(int, time_wed.split(':'))
# h2, m2, s2 = map(int, time_thu.split(':'))
# # คำนวณเป็นวินาทีจากต้นสัปดาห์ (วันพุธ = วันที่ 3, วันพฤหัสบดี = วันที่ 4)
# # วันละ 86400 วินาที
# seconds_wed = (2 * 86400) + h1 * 3600 + m1 * 60 + s1
# seconds_thu = (3 * 86400) + h2 * 3600 + m2 * 60 + s2
# # หาผลต่าง
# diff_seconds = seconds_thu - seconds_wed
# # แสดงผลลัพธ์
# print(f"เวลาต่างกันทั้งหมด {diff_seconds:,} วินาที")
# มีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ตัวเดียว

def calculate_time_diff_with_default(time_input):
    """
    Calculates the time difference in seconds between two time strings,
    allowing for a default day if only one time is provided.

    Args:
        time_input (str): A string in the format 'HH:MM:SS-HH:MM:SS' or 'HH:MM:SS'.
                          If only 'HH:MM:SS' is provided, the start and end times are
                          assumed to be on the same day.

    Returns:
        int: The time difference in seconds. Returns 0 if the input format is incorrect
             or only one time is provided (as per the problem description's interpretation
             of "same day").
    """
    times = time_input.split('-')

    if len(times) == 1:
        # If only one time is provided, it means the start and end times are the same.
        # The difference is 0 seconds.
        return 0
    elif len(times) == 2:
        time1_str = times[0]
        time2_str = times[1]

        # Separate time components
        h1, m1, s1 = map(int, time1_str.split(':'))
        h2, m2, s2 = map(int, time2_str.split(':'))

        # Calculate seconds from the start of a reference point (e.g., midnight)
        seconds1 = h1 * 3600 + m1 * 60 + s1
        seconds2 = h2 * 3600 + m2 * 60 + s2

        # Assume the first time is on 'Day X' and the second time is on 'Day X+1'
        # as per the previous problem context (Wednesday to Thursday).
        # If the days were the same, the split would only have one element.
        # Here we interpret two elements as being on consecutive days.
        # Add a full day's seconds to the second time's seconds
        seconds2_adjusted = seconds2 + 86400

        diff_seconds = seconds2_adjusted - seconds1
        return diff_seconds
    else:
        print("Invalid input format. Use 'HH:MM:SS' or 'HH:MM:SS-HH:MM:SS'.")
        return 0

# Example usage:
# Case 1: Same day (only one time provided)
inp_same_day = '12:30:15'
diff_same_day = calculate_time_diff_with_default(inp_same_day)
print(f"Input: '{inp_same_day}' -> เวลาต่างกันทั้งหมด {diff_same_day:,} วินาที")

# Case 2: Different days (two times provided) - assumes consecutive days
inp_diff_days = '12:30:15-13:41:07'
diff_diff_days = calculate_time_diff_with_default(inp_diff_days)
print(f"Input: '{inp_diff_days}' -> เวลาต่างกันทั้งหมด {diff_diff_days:,} วินาที")

# Another different day example
inp_diff_days_2 = '23:00:00-01:00:00' # 11 PM to 1 AM the next day
diff_diff_days_2 = calculate_time_diff_with_default(inp_diff_days_2)
print(f"Input: '{inp_diff_days_2}' -> เวลาต่างกันทั้งหมด {diff_diff_days_2:,} วินาที")

# Example with the original problem values
inp_original = '12:30:15-13:41:07'
# The previous context specified Wednesday and Thursday, which are consecutive days.
# The function above assumes consecutive days for the 'HH:MM:SS-HH:MM:SS' format.
# The Wednesday (Day 3) to Thursday (Day 4) difference is equivalent to adding
# one full day (86400 seconds) to the second time's seconds relative to the first time.
h1, m1, s1 = map(int, '12:30:15'.split(':'))
h2, m2, s2 = map(int, '13:41:07'.split(':'))

seconds1_abs = (2 * 86400) + h1 * 3600 + m1 * 60 + s1 # Wednesday
seconds2_abs = (3 * 86400) + h2 * 3600 + m2 * 60 + s2 # Thursday

diff_original_context = seconds2_abs - seconds1_abs
print(f"Original context (Wednesday to Thursday): เวลาต่างกันทั้งหมด {diff_original_context:,} วินาที")

# Note: The function `calculate_time_diff_with_default` with input '12:30:15-13:41:07'
# will return the time difference between 12:30:15 on Day X and 13:41:07 on Day X+1,
# which matches the Wednesday to Thursday difference (Day 3 to Day 4 relative difference).

Input: '12:30:15' -> เวลาต่างกันทั้งหมด 0 วินาที
Input: '12:30:15-13:41:07' -> เวลาต่างกันทั้งหมด 90,652 วินาที
Input: '23:00:00-01:00:00' -> เวลาต่างกันทั้งหมด 7,200 วินาที
Original context (Wednesday to Thursday): เวลาต่างกันทั้งหมด 90,652 วินาที

In [20]:
# prompt: # ฟังก์ชันแปลงเวลาเป็นวินาทีจากต้นสัปดาห์
# def time_to_seconds(time_str, day_str):
#     days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
#     h, m, s = map(int, time_str.split(':'))
#     day_index = days.index(day_str)
#     total_seconds = day_index * 86400 + h * 3600 + m * 60 + s
#     return total_seconds
# # รายการช่วงเวลา
# time_ranges = [
#     ("12:30:15", "Wednesday", "13:41:07", "Thursday"),
#     ("12:53:15", "Monday", "00:59:25", "Tuesday"),
#     ("16:06:09", "Sunday", "11:11:11", "Tuesday"),
# ]
# # ประมวลผลและแสดงผล
# for start_time, start_day, end_time, end_day in time_ranges:
#     start_sec = time_to_seconds(start_time, start_day)
#     end_sec = time_to_seconds(end_time, end_day)
#     diff = end_sec - start_sec
#     hours = diff // 3600
#     minutes = (diff % 3600) // 60
#     seconds = diff % 60
#     print(f"\n🕒 {start_time}, {start_day} - {end_time}, {end_day}")
#     print(f"→ ต่างกันทั้งหมด {diff:,} วินาที")
#     print(f"→ หรือ {hours} ชั่วโมง {minutes} นาที {seconds} วินาที")
# เขียน function โดยมีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ตัวเดียว

def calculate_time_difference_v2(time_input, start_day=None, end_day=None):
    """
    Calculates the time difference in seconds between two time strings,
    with optional day inputs and default day handling.

    Args:
        time_input (str): A string representing time(s) in 'HH:MM:SS' or 'HH:MM:SS-HH:MM:SS' format.
                          If only 'HH:MM:SS' is provided, the start and end times are assumed
                          to be on the same day, and the difference is 0.
        start_day (str, optional): The starting day of the week (e.g., 'Monday'). Defaults to None.
                                   If provided, overrides default same-day behavior for single time input.
        end_day (str, optional): The ending day of the week (e.g., 'Thursday'). Defaults to None.
                                 If provided, overrides default same-day behavior for single time input.

    Returns:
        int: The time difference in seconds. Returns 0 if input format is incorrect.
    """
    days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    seconds_per_day = 86400

    times = time_input.split('-')

    if len(times) == 1:
        # If only one time is provided, default to same day unless start_day and end_day are different
        if start_day is not None and end_day is not None and start_day != end_day:
             try:
                day1_index = days.index(start_day)
                day2_index = days.index(end_day)

                time_str = times[0]
                h, m, s = map(int, time_str.split(':'))
                seconds = h * 3600 + m * 60 + s

                start_sec = day1_index * seconds_per_day + seconds
                end_sec = day2_index * seconds_per_day + seconds

                return end_sec - start_sec
             except (ValueError, IndexError):
                print("Invalid day name provided.")
                return 0
        else:
            # Default behavior for single time input is same day, difference is 0
            return 0

    elif len(times) == 2:
        time1_str = times[0]
        time2_str = times[1]

        try:
            h1, m1, s1 = map(int, time1_str.split(':'))
            h2, m2, s2 = map(int, time2_str.split(':'))

            seconds1_of_day = h1 * 3600 + m1 * 60 + s1
            seconds2_of_day = h2 * 3600 + m2 * 60 + s2

            day1_index = 0 # Default to Day 0 if day is not specified
            day2_index = 0 # Default to Day 0 if day is not specified

            if start_day is not None:
                 day1_index = days.index(start_day)
            if end_day is not None:
                 day2_index = days.index(end_day)
            elif start_day is not None: # If only start_day is provided, assume end_day is the next day if end_time is earlier
                 if seconds2_of_day < seconds1_of_day:
                     day2_index = day1_index + 1
                 else:
                     day2_index = day1_index


            # If no days are specified for the two times, assume consecutive days
            if start_day is None and end_day is None:
                 # Assume first time is Day 0, second time is Day 1
                 day1_index = 0
                 day2_index = 1


            start_sec_total = day1_index * seconds_per_day + seconds1_of_day
            end_sec_total = day2_index * seconds_per_day + seconds2_of_day

            return end_sec_total - start_sec_total

        except (ValueError, IndexError):
            print("Invalid time or day format.")
            return 0
    else:
        print("Invalid input format. Use 'HH:MM:SS' or 'HH:MM:SS-HH:MM:SS'.")
        return 0

# Example usage:

# Case 1: Single time, no day specified (default same day)
inp1 = '12:30:15'
diff1 = calculate_time_difference_v2(inp1)
print(f"Input: '{inp1}' -> เวลาต่างกันทั้งหมด {diff1:,} วินาที")

# Case 2: Single time, start and end day specified and different
inp2 = '10:00:00'
diff2 = calculate_time_difference_v2(inp2, start_day='Monday', end_day='Wednesday')
print(f"Input: '{inp2}' (Mon to Wed) -> เวลาต่างกันทั้งหมด {diff2:,} วินาที")

# Case 3: Single time, start and end day specified and same
inp3 = '10:00:00'
diff3 = calculate_time_difference_v2(inp3, start_day='Monday', end_day='Monday')
print(f"Input: '{inp3}' (Mon to Mon) -> เวลาต่างกันทั้งหมด {diff3:,} วินาที")


# Case 4: Two times, no day specified (default consecutive days)
inp4 = '12:30:15-13:41:07'
diff4 = calculate_time_difference_v2(inp4)
print(f"Input: '{inp4}' (Consecutive days) -> เวลาต่างกันทั้งหมด {diff4:,} วินาที")

# Case 5: Two times, start and end day specified
inp5 = '12:53:15-00:59:25'
diff5 = calculate_time_difference_v2(inp5, start_day='Monday', end_day='Tuesday')
print(f"Input: '{inp5}' (Mon to Tue) -> เวลาต่างกันทั้งหมด {diff5:,} วินาที")

# Case 6: Two times, start and end day specified (Spanning multiple days)
inp6 = '16:06:09-11:11:11'
diff6 = calculate_time_difference_v2(inp6, start_day='Sunday', end_day='Tuesday')
print(f"Input: '{inp6}' (Sun to Tue) -> เวลาต่างกันทั้งหมด {diff6:,} วินาที")

# Case 7: Two times, only start day specified (assume next day if end time is earlier)
inp7 = '23:00:00-01:00:00'
diff7 = calculate_time_difference_v2(inp7, start_day='Monday')
print(f"Input: '{inp7}' (Start Mon) -> เวลาต่างกันทั้งหมด {diff7:,} วินาที")

# Case 8: Two times, only start day specified (assume same day if end time is later)
inp8 = '10:00:00-11:00:00'
diff8 = calculate_time_difference_v2(inp8, start_day='Monday')
print(f"Input: '{inp8}' (Start Mon) -> เวลาต่างกันทั้งหมด {diff8:,} วินาที")

Input: '12:30:15' -> เวลาต่างกันทั้งหมด 0 วินาที
Input: '10:00:00' (Mon to Wed) -> เวลาต่างกันทั้งหมด 172,800 วินาที
Input: '10:00:00' (Mon to Mon) -> เวลาต่างกันทั้งหมด 0 วินาที
Input: '12:30:15-13:41:07' (Consecutive days) -> เวลาต่างกันทั้งหมด 90,652 วินาที
Input: '12:53:15-00:59:25' (Mon to Tue) -> เวลาต่างกันทั้งหมด 43,570 วินาที
Input: '16:06:09-11:11:11' (Sun to Tue) -> เวลาต่างกันทั้งหมด -449,698 วินาที
Input: '23:00:00-01:00:00' (Start Mon) -> เวลาต่างกันทั้งหมด 7,200 วินาที
Input: '10:00:00-11:00:00' (Start Mon) -> เวลาต่างกันทั้งหมด 3,600 วินาที

In [21]:
# prompt: def time_to_seconds(time_str):
#     """Converts a time string (HH:MM:SS) to seconds."""
#     h, m, s = map(int, time_str.split(':'))
#     return h * 3600 + m * 60 + s
# # Test the function
# print(time_to_seconds('12:30:15'))
# print(time_to_seconds('00:00:00'))
# print(time_to_seconds('23:59:59'))
# เขียน function โดยมีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลยหรือกรอกแค่ตัวเดียว

def calculate_time_diff_with_default(time_input):
    """
    Calculates the time difference in seconds between two time strings,
    allowing for a default day if only one time is provided.

    Args:
        time_input (str): A string in the format 'HH:MM:SS' or 'HH:MM:SS-HH:MM:SS'.
                          If only 'HH:MM:SS' is provided, the start and end times are
                          assumed to be on the same day.

    Returns:
        int: The time difference in seconds. Returns 0 if the input format is incorrect
             or only one time is provided (as per the problem description's interpretation
             of "same day").
    """
    times = time_input.split('-')

    if len(times) == 1:
        # If only one time is provided, it means the start and end times are the same.
        # The difference is 0 seconds.
        return 0
    elif len(times) == 2:
        time1_str = times[0]
        time2_str = times[1]

        try:
            h1, m1, s1 = map(int, time1_str.split(':'))
            h2, m2, s2 = map(int, time2_str.split(':'))

            seconds1 = h1 * 3600 + m1 * 60 + s1
            seconds2 = h2 * 3600 + m2 * 60 + s2

            # If the second time is earlier than the first time, assume it's on the next day
            # This aligns with the Wednesday to Thursday example (12:30 PM to 1:41 PM the next day)
            if seconds2 < seconds1:
                 seconds2 += 86400

            diff_seconds = seconds2 - seconds1
            return diff_seconds
        except ValueError:
            print("Invalid time format (HH:MM:SS).")
            return 0
    else:
        print("Invalid input format. Use 'HH:MM:SS' or 'HH:MM:SS-HH:MM:SS'.")
        return 0

# Example usage:
# Case 1: Same day (only one time provided)
inp_same_day = '12:30:15'
diff_same_day = calculate_time_diff_with_default(inp_same_day)
print(f"Input: '{inp_same_day}' -> เวลาต่างกันทั้งหมด {diff_same_day:,} วินาที")

# Case 2: Different days (two times provided) - assumes next day if second time is earlier
inp_diff_days = '12:30:15-13:41:07' # 12:30 PM Day X to 1:41 PM Day X
diff_diff_days = calculate_time_diff_with_default(inp_diff_days)
print(f"Input: '{inp_diff_days}' -> เวลาต่างกันทั้งหมด {diff_diff_days:,} วินาที")

inp_diff_days_2 = '23:00:00-01:00:00' # 11 PM Day X to 1 AM Day X+1
diff_diff_days_2 = calculate_time_diff_with_default(inp_diff_days_2)
print(f"Input: '{inp_diff_days_2}' -> เวลาต่างกันทั้งหมด {diff_diff_days_2:,} วินาที")

# Example with the original problem values (Wednesday 12:30:15 to Thursday 13:41:07)
# This case implicitly involves different days. The function handles this by assuming
# the second time is on the next day if it's chronologically earlier within a 24-hour cycle.
# This aligns with the Wednesday-Thursday scenario.
inp_original = '12:30:15-13:41:07'
diff_original_context = calculate_time_diff_with_default(inp_original)
print(f"Input: '{inp_original}' (เหมือนตัวอย่างเดิม Wed-Thu) -> เวลาต่างกันทั้งหมด {diff_original_context:,} วินาที")

Input: '12:30:15' -> เวลาต่างกันทั้งหมด 0 วินาที
Input: '12:30:15-13:41:07' -> เวลาต่างกันทั้งหมด 4,252 วินาที
Input: '23:00:00-01:00:00' -> เวลาต่างกันทั้งหมด 7,200 วินาที
Input: '12:30:15-13:41:07' (เหมือนตัวอย่างเดิม Wed-Thu) -> เวลาต่างกันทั้งหมด 4,252 วินาที

# Quiz3
เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

จบ 24 มิย 67

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish